{% extends 'admin_base.html' %}
{% load static %}
{% block main %}


    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function checkpassword(){
          if(document.signup.pwd.value != document.signup.cpwd.value){
              alert("Password and Confirmed passwords did not match!");
              document.signup.cpwd.focus();
              return false;
          }
          return true;
        }
    </script>
    </head>
{#<hr class="mt-0">#}

<div class="shadow-lg m-5" id="signupform" style="font-family: 'Times New Roman';color: floralwhite;font-weight: bolder; border-radius: 5px">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid white">Create Orphanage Account</h5>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" name="signup" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="firstname" class="form-control" placeholder="Your First Name..." required pattern="[A-Za-z]+">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lastname" class="form-control" placeholder="Your Last Name..." pattern="[A-Za-z]+">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" placeholder="Type Your Email..." required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="text" maxlength="10" name="contact" class="form-control" placeholder="Your Contact Number..." required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Set Password</label>
                            <input type="password" name="pwd" class="form-control" placeholder="Set Password..." required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="cpwd" class="form-control" placeholder="Type Password Again..." required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Upload Owner's Image</label>
                            <input type="file" accept="image/*" name="ownerimage" class="form-control" required>
                        </div>
                    </div>
                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Upload Orphange Image</label>
                            <input type="file" accept="image/*" name="orimage" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Your Address</label>
                            <textarea name="address" class="form-control" placeholder="Your Address..." required></textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-success">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Orphanage Added Successfully");
    window.location = ('{% url 'admin_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong! Try again");
</script>
{% endif %}
{% endblock %}