{% extends 'admin_base.html' %}
{% load static %}
{% block main %}


    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" defer></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>#}

    <style>
*{
    font-family: "Times New Roman";
}
    </style>
    </head>
<div class="container-flex mt-2 justify-content-center">
    <div class="card p-4"> <div class=" image d-flex flex-column justify-content-center align-items-center">
       <img src="{% static 'images/adminPic.png' %}" height="250px" width="250px" title="{{ user.username }}" class="img-thumbnail mt-3"/>
        <span class="name mt-3" style="font-weight: bolder; font-size: 20px;text-transform: capitalize"><i class="fa fa-user" aria-hidden="true" style="color: blue"></i> {{ user.username }}</span>
        <span class="mb-3" style="font-weight: bolder; font-size: 20px"><i class="fa fa-envelope" aria-hidden="true" style="color: red"></i> {{ user.email }}</span>
    </div>
    </div>
</div>


{% endblock %}