{% extends 'admin_base.html' %}

{% block main %}

    <!-- here you go -->
<div class="card-shadow-lg bg-white mt-3" style="font-family: 'Times New Roman'">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">All Donation List</h5>
        <div class="container-fluid">
            <table id="example" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>S.No</th>
                    <th>Donation Name</th>
                    <th>Donation Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in donation %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.donationname }}</td>
                    <td>{{ i.donationdate }}</td>
                    <td style="text-transform: capitalize">{{ i.status }}</td>
                    {% if i.status == "pending" %}
                    <td><a href="{% url 'pending_donationdetail' i.id %}" class="text-primary">Details</a></td>
                    {% endif %}

                    {% if i.status == "accept" %}
                    <td><a href="{% url 'accepted_donationdetail' i.id %}" class="text-success">Details</a></td>
                    {% endif %}

                    {% if i.status == "reject" %}
                    <td><a href="{% url 'rejected_donationdetail' i.id %}" class="text-danger">Details</a></td>
                    {% endif %}

                    {% if i.status not in decisionOfOtherCondition %}
                    <td><a href="{% url 'deliver_donationdetail' i.id %}" class="text-success">Details</a></td>
                    {% endif %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}