
{% extends 'donor_base.html' %}
{% block main %}
<div class="card-shadow-lg bg-white mt-3 rounded" style="font-family: 'Times New Roman'">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">Donate Now</h5>
        <div class="container-fluid">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                    <div class="col-sm-12">
                        <label>Donation Name<span style="color: darkgreen">( Include description for donation )</span></label>
                        <select name="donationname" class="form-control" required>
                            <option selected>Select Donation</option>
                            <option class="Food Donation">Food Donation</option>
                            <option class="Cloth Donation">Cloth Donation</option>
                            <option class="Footwear Donation">Footwear Donation</option>
                            <option class="Books Donation">Stationery Donation</option>
                            <option class="Furniture Donation">Furniture Donation</option>
                            <option class="Vessel Donation">Vessel Donation</option>
                            <option class="Toy Donation">Toy Donation</option>
                            <option class="Mask Donation">Mask Donation</option>
                        </select>
                    </div>
                        </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                        <label>Donation Picture</label>
                        <input type="file" name="donationpic" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                        <label>Donor Address</label>
                        <textarea  name="collectionloc" class="form-control" placeholder="Full Address Here..." required></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                        <label>Description</label>
                        <textarea  name="description" class="form-control" placeholder="Describe Here..." required></textarea>
                        </div>
                    </div>

                </div>
                <input type="submit" value="Donate Happiness Now" class="btn btn-success px-3">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
    <script>
    alert('Donation request accepted, we would collect it ');
    window.location = ('{% url 'donation_history' %}')
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
    alert('Donation Unsuccessful! Please Try Again ');
    </script>
{% endif %}

{% endblock %}
