{% extends 'admin_base.html' %}

{% block main %}

    <!-- here you go -->
<div class="card-shadow-lg bg-white mt-3" style="font-family: 'Times New Roman'">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">Manage Donation Area</h5>
        <div class="container-fluid">
            <table id="example" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>S.No</th>
                    <th>Donation Area Name</th>
{#                    <th>Description</th>#}
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in area %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.areaname }}</td>
{#                    <td>{{ i.description }}</td>#}
                    <td>{{ i.creationdate }}</td>
                    <td><a href="{% url 'edit_area' i.id %}" class="text-success" onclick="return confirm('Continue Editing?')">Edit </a>|
                    <a href="{% url 'delete_area' i.id %}" class="text-danger" onclick="return confirm('Continue Deletion?')">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}