{% extends 'admin_base.html' %}

{% block main %}

    <!-- here you go -->
<div class="card-shadow-lg bg-white mt-3" style="font-family: 'Times New Roman'">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">View  Volunteer Details</h5>
        <div class="container-fluid">
            <table class="table table-bordered table-striped">
               <tr class="bg-lightgrey">
                   <td colspan="4" style="font-weight: bolder; color: green; font-size: 20px">Volunteer Detail</td>
               </tr>
                <tr>
                    <th>Volunteer Name</th>
                    <td>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</td>
                    <th>Volunteer Contact</th>
                    <td>{{ volunteer.contact }}</td>
                </tr>
                <tr>
                    <th>Volunteer Email</th>
                    <td>{{ volunteer.user.username }}</td>
                    <th>Registration Date</th>
                    <td>{{ volunteer.regdate }}</td>
                </tr>

                <tr>
                    <th>Volunteer Picture</th>
                    <td><img src="{{ volunteer.userpic.url }}" width="50px" height="50px"></td>
                    <th>Volunteer ID Picture</th>
                    <td><img src="{{ volunteer.idpic.url }}" width="50px" height="50px"></td>
                </tr>
                 <tr>
                    <th>Volunteer Address</th>
                    <td colspan="3">{{ volunteer.address}}</td>
                </tr>
                {% if volunteer.status == "pending" %}
                    <form method="post">
                    {%  csrf_token %}
                    <tr>
                    <th>Status</th>
                    <td colspan="3">
                    <select name="status" class="form-control" required>
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                    </select>
                    </td>
                </tr>
                    <tr>
                    <th>Admin Remark</th>
                    <td colspan="3">
                    <textarea name="adminremark" class="form-control" placeholder="Write Remark Here..." style="resize: none" required></textarea>
                    </td>
                </tr>
                    <tr>
                    <th></th>
                    <td colspan="3">
                        <button type="submit" class="btn btn-success">Update <i class="fa fa-arrow-circle-right"></i></button>
                    </td>
                </tr>
                    </form>
                {% else %}
                 <tr>
                    <th>Status</th>
                    <td style="text-transform: capitalize"> {{ volunteer.status}}ed</td>
                    <th>Updation Date</th>
                      <td>{{ volunteer.updationdate }}</td>
                </tr>

                <tr>
                    <th>Admin Remark</th>
                    <td colspan="3">{{ volunteer.adminremark}}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>

 {% if error == "no" %}
<script>
    alert("Remark and Status Updated Successfully");
    window.location = ('{% url 'view_volunteerdetail' volunteer.id %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong! Try again");
</script>
{% endif %}
{% endblock %}